.section__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 16px;
    padding: 22px 16px;
    width: 280px;
    height: 88px;
    border-radius: 8px;
    background: var(--White, #FFF);
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);
}

.section__addnew{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__addnew__button{
    margin-top: 32px;
    max-width: 200px;
    padding: 0 16px ;
    height: 3rem; 
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5; 
    color: #ffffff; 
    background-color: #635FC7;
    border-radius: 2rem; 
}
.section__addnew__button:hover{
    opacity: 0.8;
}

.section__text{
    padding: 0 16px;
    padding-top: 150px;

    color: var(--Medium-Grey, #828FA3);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section__description{
    color: var(--Black, #000112);
    font-feature-settings: 'clig' off, 'liga' off;
    padding-bottom: 8px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section__subtask{
    color: var(--Medium-Grey, #828FA3);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section__both{
    display: flex;
}
@media only screen and (min-width: 768px){
    .section__div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 16px;
        padding: 22px 16px;
        width: 280px;
        height: 88px;
        border-radius: 8px;
        background: var(--White, #FFF);
        box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);
    }
   
    .section__addnew{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .section__addnew__button{
        margin-top: 32px;
        max-width: 200px;
        padding: 0 16px ;
        height: 3rem; 
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5; 
        color: #ffffff; 
        background-color: #635FC7;
        border-radius: 2rem; 
    }
    .section__addnew__button:hover{
        opacity: 0.8;
    
    }
    
    .section__text{
        color: var(--Medium-Grey, #828FA3);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}