@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/plus-jakarta-sans.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans.woff') format('woff');

}::-webkit-scrollbar {
  display: none;
}

/* Optional: Style the scrollbar track and thumb */
::-webkit-scrollbar-track {
  background: transparent; /* Change to desired color */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Change to desired color */
}
body{
  background-color: #F4F7FD;
}