@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/plus-jakarta-sans.woff2') format('woff2'),
       url('/fonts/plus-jakarta-sans.woff') format('woff');

}
::-webkit-scrollbar {
  display: none;
}

/* Optional: Style the scrollbar track and thumb */
::-webkit-scrollbar-track {
  background: transparent; /* Change to desired color */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Change to desired color */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #F4F7FD;
}

.active{
  background:  #635FC7;
  color: #fff
}
:root {
  --background-color: #F4F7FD;
  --text-color: #000000;
  --link-color: #0000ee;
  --border-color: #cccccc;
}

/* Dark mode styles */
.dark-mode {
  --background-color: #20212C;
  --text-color: #ffffff;
  --link-color: #5599ff;
  --border-color: #444444;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

.border {
  border-color: var(--border-color);
}